---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import ReleaseNoteLink from '../components/ReleaseNoteLink.astro';
import { formatReleaseDate, getReleaseNotes } from '../utils/releaseNotes';

const releaseNotes = await getReleaseNotes();
---

<StarlightPage
  frontmatter={{
    title: 'Release notes',
    description: 'API release notes and changelog',
  }}
>
  {
    releaseNotes.map((release) => (
      <section class="release-section">
        <h2>{formatReleaseDate(release.month)}</h2>
        <ul class="release-notes-list">
          {release.releaseNotes.map((note) => (
            <li class="release-note-item">
              <ReleaseNoteLink releaseNote={note} />
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</StarlightPage>

<style>
  .release-notes-list {
    list-style: none;
    padding: 0;
  }
</style>
